@charset "utf-8";
/* CSS Document */

.main {
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	font-size: large;
}
.main .header h3 {
	width: 100%;
	font-size: xx-large;
	background-color: #0000CC;
	color: #FFFFFF;
}
.main .footer h4 {
	width: 98%;
	background-color: #0000CC;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}
