body {
    background-image: url('../images/digital.jpg');
    background-size: 100%;
}

#SECTION_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 100% !important;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 100% !important;
    perspective-origin: 675.5px 435.765625px;
    transform-origin: 675.5px 435.765625px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SECTION_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 681.53125px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1170px;
    perspective-origin: 585px 340.765625px;
    transform-origin: 585px 340.765625px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    margin: auto;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}/*#DIV_2*/

#DIV_2 {
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2:after*/

#DIV_2{
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 66.09375px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1170px;
    perspective-origin: 585px 33.046875px;
    transform-origin: 585px 33.046875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    margin: 0px -15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3*/

#DIV_3{
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3:after*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 66.09375px;
    min-height: 1px;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1170px;
    perspective-origin: 585px 33.046875px;
    transform-origin: 585px 33.046875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}/*#DIV_4*/

#H1_5 {
    background-position: 50% 100%;
    box-sizing: border-box;
    color: rgb(53, 53, 53);
    height: 46px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    text-transform: uppercase;
    width: 1140px;
    perspective-origin: 570px 23px;
    transform-origin: 570px 23px;
    background: rgba(0, 0, 0, 0) url(http://tympanus.net/Freebies/HalcyonDaysTemplate/img/h1-bg.png) no-repeat scroll 50% 100% / auto padding-box border-box;
    border: 0px none rgb(53, 53, 53);
    font: normal normal bold normal 15px/16.5px 'Varela Round', sans-serif;
    margin: 10.0500001907349px 0px;
    outline: rgb(53, 53, 53) none 0px;
    padding: 0px 0px 30px;
}/*#H1_5*/

#DIV_6 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 615.4375px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1170px;
    perspective-origin: 585px 307.71875px;
    transform-origin: 585px 307.71875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    margin: 0px -15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_6*/

#DIV_6{
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_6:after*/

#DIV_6 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_6:before*/

#DIV_7 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 545.4375px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1170px;
    perspective-origin: 585px 272.71875px;
    transform-origin: 585px 272.71875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    margin: 70px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_7*/

#DIV_8 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 545.4375px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1170px;
    perspective-origin: 585px 272.71875px;
    transform-origin: 585px 272.71875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_8*/

#DIV_9 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 522.4375px;
    max-height: 2000px;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1170px;
    perspective-origin: 585px 261.21875px;
    transform-origin: 585px 261.21875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    transition: all 1s ease 0s;
}/*#DIV_9*/

#UL_10 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 522.4375px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 9360px;
    z-index: 0;
    perspective-origin: 4680px 261.21875px;
    transform: matrix(1, 0, 0, 1, -1170, 0);
    transform-origin: 4680px 261.21875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_10*/

#UL_10:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: block;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    visibility: hidden;
    width: 9360px;
    perspective-origin: 4680px 0px;
    transform-origin: 4680px 0px;
    content: '"' '"';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/0px 'Varela Round', sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#UL_10:after*/

#LI_11, #LI_57, #LI_103, #LI_149 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 502.4375px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1170px;
    perspective-origin: 585px 251.21875px;
    transform-origin: 585px 251.21875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_11, #LI_57, #LI_103, #LI_149*/

#DIV_12, #DIV_58, #DIV_104, #DIV_150 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 502.4375px;
    min-height: 1px;
    opacity: 0.999999940395355;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 390px;
    z-index: 0;
    perspective-origin: 195px 251.21875px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 195px 251.21875px;
    animation: fadeInUp 1s ease 0s 1 normal both running;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}/*#DIV_12, #DIV_58, #DIV_104, #DIV_150*/

#IMG_13, #IMG_28, #IMG_43, #IMG_59, #IMG_74, #IMG_89, #IMG_105, #IMG_120, #IMG_135, #IMG_151, #IMG_166, #IMG_181 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 220px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    vertical-align: middle;
    width: 202px;
    perspective-origin: 101px 110px;
    transform-origin: 101px 110px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 40px;
    outline: rgb(51, 51, 51) none 0px;
}/*#IMG_13, #IMG_28, #IMG_43, #IMG_59, #IMG_74, #IMG_89, #IMG_105, #IMG_120, #IMG_135, #IMG_151, #IMG_166, #IMG_181*/

#H2_14, #H2_29, #H2_44, #H2_60, #H2_75, #H2_90, #H2_106, #H2_121, #H2_136, #H2_152, #H2_167, #H2_182 {
    box-sizing: border-box;
    color: rgb(53, 53, 53);
    height: 45px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    text-transform: uppercase;
    width: 360px;
    perspective-origin: 180px 22.5px;
    transform-origin: 180px 22.5px;
    border: 0px none rgb(53, 53, 53);
    font: normal normal bold normal 15px/16.5px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 12.4499998092651px 0px;
    outline: rgb(53, 53, 53) none 0px;
}/*#H2_14, #H2_29, #H2_44, #H2_60, #H2_75, #H2_90, #H2_106, #H2_121, #H2_136, #H2_152, #H2_167, #H2_182*/

#H2_14:after, #H2_29:after, #H2_44:after, #H2_60:after, #H2_75:after, #H2_90:after, #H2_106:after, #H2_121:after, #H2_136:after, #H2_152:after, #H2_167:after, #H2_182:after {
    box-sizing: border-box;
    color: rgb(53, 53, 53);
    display: block;
    height: 4px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    text-transform: uppercase;
    width: 35px;
    perspective-origin: 17.5px 2px;
    transform-origin: 17.5px 2px;
    content: '"' '"';
    border: 2px solid rgb(61, 201, 179);
    font: normal normal bold normal 15px/16.5px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 25px 162.5px;
    outline: rgb(53, 53, 53) none 0px;
}/*#H2_14:after, #H2_29:after, #H2_44:after, #H2_60:after, #H2_75:after, #H2_90:after, #H2_106:after, #H2_121:after, #H2_136:after, #H2_152:after, #H2_167:after, #H2_182:after*/

#P_15, #P_30, #P_45, #P_61, #P_76, #P_91, #P_107, #P_122, #P_137, #P_153, #P_168, #P_183 {
    box-sizing: border-box;
    color: rgb(140, 147, 152);
    height: 75px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 360px;
    word-spacing: 1px;
    perspective-origin: 180px 37.5px;
    transform-origin: 180px 37.5px;
    border: 0px none rgb(140, 147, 152);
    font: normal normal normal normal 14px/25px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 14px 0px;
    outline: rgb(140, 147, 152) none 0px;
}/*#P_15, #P_30, #P_45, #P_61, #P_76, #P_91, #P_107, #P_122, #P_137, #P_153, #P_168, #P_183*/

#DIV_16, #DIV_31, #DIV_46, #DIV_62, #DIV_77, #DIV_92, #DIV_108, #DIV_123, #DIV_138, #DIV_154, #DIV_169, #DIV_184 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 60px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 360px;
    perspective-origin: 180px 30px;
    transform-origin: 180px 30px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 25px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_16, #DIV_31, #DIV_46, #DIV_62, #DIV_77, #DIV_92, #DIV_108, #DIV_123, #DIV_138, #DIV_154, #DIV_169, #DIV_184*/

#UL_17, #UL_32, #UL_47, #UL_63, #UL_78, #UL_93, #UL_109, #UL_124, #UL_139, #UL_155, #UL_170, #UL_185 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 60px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 360px;
    perspective-origin: 180px 30px;
    transform-origin: 180px 30px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_17, #UL_32, #UL_47, #UL_63, #UL_78, #UL_93, #UL_109, #UL_124, #UL_139, #UL_155, #UL_170, #UL_185*/

#LI_18, #LI_21, #LI_33, #LI_36, #LI_48, #LI_51, #LI_64, #LI_67, #LI_79, #LI_82, #LI_94, #LI_97, #LI_110, #LI_113, #LI_125, #LI_128, #LI_140, #LI_143, #LI_156, #LI_159, #LI_171, #LI_174, #LI_186, #LI_189 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 40px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 40px;
    perspective-origin: 20px 20px;
    transform-origin: 20px 20px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 0px 10px 20px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_18, #LI_21, #LI_33, #LI_36, #LI_48, #LI_51, #LI_64, #LI_67, #LI_79, #LI_82, #LI_94, #LI_97, #LI_110, #LI_113, #LI_125, #LI_128, #LI_140, #LI_143, #LI_156, #LI_159, #LI_171, #LI_174, #LI_186, #LI_189*/

#A_19, #A_22, #A_25, #A_34, #A_37, #A_40, #A_49, #A_52, #A_55, #A_65, #A_68, #A_71, #A_80, #A_83, #A_86, #A_95, #A_98, #A_101, #A_111, #A_114, #A_117, #A_126, #A_129, #A_132, #A_141, #A_144, #A_147, #A_157, #A_160, #A_163, #A_172, #A_175, #A_178, #A_187, #A_190, #A_193 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 40px;
    perspective-origin: 20px 20px;
    transform-origin: 20px 20px;
    background: rgb(36, 40, 48) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 17px/40px 'Varela Round', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.5s ease 0s;
}/*#A_19, #A_22, #A_25, #A_34, #A_37, #A_40, #A_49, #A_52, #A_55, #A_65, #A_68, #A_71, #A_80, #A_83, #A_86, #A_95, #A_98, #A_101, #A_111, #A_114, #A_117, #A_126, #A_129, #A_132, #A_141, #A_144, #A_147, #A_157, #A_160, #A_163, #A_172, #A_175, #A_178, #A_187, #A_190, #A_193*/

#I_20, #I_35, #I_50, #I_66, #I_81, #I_96, #I_112, #I_127, #I_142, #I_158, #I_173, #I_188 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 17px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 14.578125px;
    perspective-origin: 7.28125px 8.5px;
    transform-origin: 7.28125px 8.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_20, #I_35, #I_50, #I_66, #I_81, #I_96, #I_112, #I_127, #I_142, #I_158, #I_173, #I_188*/

#I_20:before, #I_35:before, #I_50:before, #I_66:before, #I_81:before, #I_96:before, #I_112:before, #I_127:before, #I_142:before, #I_158:before, #I_173:before, #I_188:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    content: '"?"';
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_20:before, #I_35:before, #I_50:before, #I_66:before, #I_81:before, #I_96:before, #I_112:before, #I_127:before, #I_142:before, #I_158:before, #I_173:before, #I_188:before*/

#I_23, #I_38, #I_53, #I_69, #I_84, #I_99, #I_115, #I_130, #I_145, #I_161, #I_176, #I_191 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 17px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 15.796875px;
    perspective-origin: 7.890625px 8.5px;
    transform-origin: 7.890625px 8.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_23, #I_38, #I_53, #I_69, #I_84, #I_99, #I_115, #I_130, #I_145, #I_161, #I_176, #I_191*/

#I_23:before, #I_38:before, #I_53:before, #I_69:before, #I_84:before, #I_99:before, #I_115:before, #I_130:before, #I_145:before, #I_161:before, #I_176:before, #I_191:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    content: '"?"';
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_23:before, #I_38:before, #I_53:before, #I_69:before, #I_84:before, #I_99:before, #I_115:before, #I_130:before, #I_145:before, #I_161:before, #I_176:before, #I_191:before*/

#LI_24, #LI_39, #LI_54, #LI_70, #LI_85, #LI_100, #LI_116, #LI_131, #LI_146, #LI_162, #LI_177, #LI_192 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 40px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 40px;
    perspective-origin: 20px 20px;
    transform-origin: 20px 20px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_24, #LI_39, #LI_54, #LI_70, #LI_85, #LI_100, #LI_116, #LI_131, #LI_146, #LI_162, #LI_177, #LI_192*/

#I_26, #I_41, #I_56, #I_87, #I_102, #I_133, #I_148, #I_179, #I_194 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 17px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 17.015625px;
    perspective-origin: 8.5px 8.5px;
    transform-origin: 8.5px 8.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_26, #I_41, #I_56, #I_87, #I_102, #I_133, #I_148, #I_179, #I_194*/

#I_26:before, #I_41:before, #I_56:before, #I_87:before, #I_102:before, #I_133:before, #I_148:before, #I_179:before, #I_194:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    content: '"?"';
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_26:before, #I_41:before, #I_56:before, #I_87:before, #I_102:before, #I_133:before, #I_148:before, #I_179:before, #I_194:before*/

#DIV_27, #DIV_73, #DIV_119, #DIV_165 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 502.4375px;
    min-height: 1px;
    opacity: 0.999999940395355;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 390px;
    z-index: 0;
    perspective-origin: 195px 251.21875px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 195px 251.21875px;
    animation: fadeInUp 1s ease 0.5s 1 normal both running;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}/*#DIV_27, #DIV_73, #DIV_119, #DIV_165*/

#DIV_42, #DIV_88, #DIV_134, #DIV_180 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 502.4375px;
    min-height: 1px;
    opacity: 0.999999940395355;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 390px;
    z-index: 0;
    perspective-origin: 195px 251.21875px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 195px 251.21875px;
    animation: fadeInUp 1s ease 1s 1 normal both running;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}/*#DIV_42, #DIV_88, #DIV_134, #DIV_180*/

#I_72, #I_118 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 17px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 17.015625px;
    perspective-origin: 8.5px 8.5px;
    transform-origin: 8.5px 8.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_72, #I_118*/

#I_72:before, #I_118:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    content: '"?"';
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_72:before, #I_118:before*/

#I_164 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 17px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 17.015625px;
    perspective-origin: 8.5px 8.5px;
    transform-origin: 8.5px 8.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_164*/

#I_164:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    content: '"?"';
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px/17px FontAwesome;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_164:before*/

#OL_195 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 23px;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 1170px;
    perspective-origin: 585px 11.5px;
    transform-origin: 585px 11.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#OL_195*/

#LI_196, #LI_198 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 13px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 13px;
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_196, #LI_198*/

#A_197 {
    box-sizing: border-box;
    color: rgb(53, 53, 53);
    cursor: default;
    display: block;
    height: 13px;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 13px;
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    background: rgb(33, 32, 36) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 3px solid rgb(201, 203, 202);
    border-radius: 20px 20px 20px 20px;
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    outline: rgb(53, 53, 53) none 0px;
    transition: all 0.5s ease 0s;
}/*#A_197*/

#A_199 {
    box-sizing: border-box;
    color: rgb(53, 53, 53);
    cursor: pointer;
    display: block;
    height: 13px;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
    width: 13px;
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 3px solid rgb(201, 203, 202);
    border-radius: 20px 20px 20px 20px;
    font: normal normal normal normal 14px/20px 'Varela Round', sans-serif;
    list-style: none outside none;
    outline: rgb(53, 53, 53) none 0px;
    transition: all 0.5s ease 0s;
}/*#A_199*/

.social-icons {
    padding: 0!important;
    /*margin: 0!important;*/
    list-style-type: none!important;
    text-align: center!important;
}
.social-icons li{
    /*float: left!important;*/
    margin-right: 20px!important;
    margin-bottom: 2px!important;
    padding: 0px!important;
    display: inline-block!important;
    width: auto!important;
    /*text-align: center!important;    */
}           

.social-icons li a {
    -moz-transition: all 0.3s ease 0s;
    display: inline-block!important;
    /*float: left!important;*/
    height: 100%!important;
    margin: 0!important;
    padding: 0!important;
    width: 40px!important;
    height: 40px!important;
    text-indent: -9999px!important;
    /*text-align: center!important;*/

}

.social-icons li a:hover {
    background-position: 0 -40px!important;
}
.social-icons li a {
    background-color:transparent;
}
.social-icons li.aim a {
    background: url(icons/aim.png) no-repeat 0 0;
}
.social-icons li.aim a:hover {
    background-color: #e95a00;
}
.social-icons li.apple a {
    background: url(icons/apple.png) no-repeat 0 0;
}
.social-icons li.apple a:hover {
    background-color: #606060;
}
.social-icons li.behance a {
    background: url(icons/behance.png) no-repeat 0 0;
}
.social-icons li.behance a:hover {
    background-color: #18a3fe;
}
.social-icons li.blogger a {
    background: url(icons/blogger.png) no-repeat 0 0;
}
.social-icons li.blogger a:hover {
    background-color: #fb913f;
}
.social-icons li.cargo a {
    background: url(icons/cargo.png) no-repeat 0 0;
}
.
.social-icons li.delicious a {
    background: url(icons/delicious.png) no-repeat 0 0;
}
.social-icons li.facebook a {
    background: url(../icons/facebook.png) no-repeat 0 0;
}
.social-icons li.facebook a:hover {
    background-color: #3b5998;
}
.social-icons li.flickr a {
    background: url(icons/flickr.png) no-repeat 0 0;
}
.social-icons li.flickr a:hover {
    background-color: #f1628b;
}
.social-icons li.google a {
    background: url(icons/google.png) no-repeat 0 0;
}
.social-icons li.google a:hover {
    background-color: #dd4b39;
}
.social-icons li.googleplus a {
    background: url(icons/googleplus.png) no-repeat 0 0;
}
.social-icons li.googleplus a:hover {
    background-color: #d94a39;
}
.social-icons li.html5 a {
    background: url(icons/html5.png) no-repeat 0 0;
}
.social-icons li.html5 a:hover {
    background-color: #f3642c;
}
.social-icons li.linkedin a {
    background: url(../icons/linkedin.png) no-repeat 0 0;
}
.social-icons li.linkedin a:hover {
    background-color: #71b2d0;
}
.social-icons li.orkut a {
    background: url(icons/orkut.png) no-repeat 0 0;
}
.social-icons li.orkut a:hover {
    background-color: #ed2590;
}
.social-icons li.paypal a {
    background: url(icons/paypal.png) no-repeat 0 0;
}
.social-icons li.paypal a:hover {
    background-color: #32689a;
}
.social-icons li.picasa a {
    background: url(icons/picasa.png) no-repeat 0 0;
}
.social-icons li.picasa a:hover {
    background-color: #444;
}
.social-icons li.pinterest a {
    background: url(icons/pinterest.png) no-repeat 0 0;
}
.social-icons li.pinterest a:hover {
    background-color: #cb2027;
}
.social-icons li.rss a {
    background: url(icons/rss.png) no-repeat 0 0;
}
.social-icons li.rss a:hover {
    background-color: #fe9900;
}
.social-icons li.skype a {
    background: url(icons/skype.png) no-repeat 0 0;
}
.social-icons li.skype a:hover {
    background-color: #18b7f1;
}
.social-icons li.tumblr a {
    background: url(icons/tumblr.png) no-repeat 0 0;
}
.social-icons li.tumblr a:hover {
    background-color: #3a5976;
}
.social-icons li.twitter a {
    background: url(../icons/twitter.png) no-repeat 0 0;
}
.social-icons li.twitter a:hover {
    background-color: #48c4d2;
}
.social-icons li.vimeo a {
    background: url(icons/vimeo.png) no-repeat 0 0;
}
.social-icons li.vimeo a:hover {
    background-color: #62a0ad;
}
.social-icons li.wordpress a {
    background: url(icons/wordpress.png) no-repeat 0 0;
}
.social-icons li.wordpress a:hover {
    background-color: #464646;
}

.social-icons li.yelp a {
    background: url(icons/yelp.png) no-repeat 0 0;
}
.social-icons li.yelp a:hover {
    background-color: #c41200;
}
.social-icons li.youtube a {
    background: url(icons/youtube.png) no-repeat 0 0;
}
.social-icons li.youtube a:hover {
    background-color: #f45750;
}